<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>

<a href="{% url 'myhomepage' %}">HOME</a>
<a href="{% url 'aboutus' %}">ABOUT US</a>
<a href="{% url 'gallery' %}">GALLERY</a>
<a href="{% url 'services' %}">SERVICES</a>

<h2>OUR CONTACTS</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam assumenda deleniti dolorem esse expedita
    id itaque laboriosam molestias nisi non, odio optio pariatur perferendis repellendus tempore tenetur veritatis
    voluptatum!</p>
</body>
</html>