<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<a href="{% url 'aboutus' %}">ABOUT US</a>
<a href="{% url 'contactus' %}">CONTACT US</a>
<a href="{% url 'gallery' %}">GALLERY</a>
<a href="{% url 'services' %}">SERVICES</a>

<h2>HOME PAGE</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis cum cupiditate deleniti eos harum, id ipsa iure molestias,
    nobis officiis quisquam, repellat saepe similique sint suscipit ullam voluptatibus!</p>


</body>
</html>