<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Services</title>
</head>
<body>

<a href="{% url 'myhomepage' %}">HOME</a>
<a href="{% url 'aboutus' %}">ABOUT US</a>
<a href="{% url 'contactus' %}">CONTACT US</a>
<a href="{% url 'gallery' %}">GALLERY</a>

<h2>Some of our services are:</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid atque beatae cupiditate,
    doloribus dolorum enim esse inventore iste laborum, modi nam neque rem tempora tempore tenetur ullam vero.</p>

</body>
</html>